/* Global */
:root{
    --main-color: black;
    --border-color: black;
    --white-font-color: white;
    --pink-color: #FF64A6;
    --blue-color: #1C6AE1;
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Nunito', Arial, sans-serif;
}

body{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
    background: rgb(144,185,244);
background: linear-gradient(173deg, rgba(144,185,244,1) 0%, rgba(227,156,237,1) 25%, rgba(237,153,189,1) 50%, rgba(230,153,141,1) 75%, rgba(242,210,156,1) 100%);
}

button,
input,
.box{
    cursor: pointer;
}

.container{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container h1{
    font-size: 60px;
    align-self: flex-start;
}

.container h2{
    align-self: flex-start;
    font-size: 30px;
}

.playerSelection{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    font-size: 25px;
}

.playerSelection select{
    border: 0 !important;  /*Removes border*/
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
    appearance:none;
    font-size: 20px;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #ece6f7;
}

.playerSelection input{
    font-size: 25px;
    font-family: inherit;
    background-color: #bd8af8;
    border-radius: 5px;
    
}

.gameBoard{
    width: 400px;
    height: 400px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background-color: #e3d6fa;
}

.box{
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background-color: linear-gradient(90deg, #1C6AE1,#C360D1,#FF64A6,#FF8C79);
}

.x-selected {
    content: 'X';
    color: var(--pink-color);
}

.o-selected{
    content: 'O';
    color: var(--blue-color);
}

.side{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.containerSide{
    display: flex;
    gap: 50px;
}

#resetButton{
    font-family: inherit;
    font-size: 40px;
    border: none;
    background-color: transparent;
    align-self: flex-start;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    align-self: baseline;
    background-color: var(--main-color);
    color: var(--white-font-color);
}